@font-face {font-family:"Pies";src:url("pie4map.eot?") format("eot"),url("pie4map.woff") format("woff"),url("pie4map.ttf") format("truetype"),url("pie4map.svg#") format("svg");font-weight:normal;font-style:normal;}


body{

}

.btn{
	margin: 2px;
	font-family:Helvetica;
	letter-spacing:0;
}

.span3{
	text-align:center;
}

.pie{
	font-family: "Pies";
	font-size: 17px;
	color: rgb(95, 95, 95);
}

path {
	stroke: #333;
	stroke-width: 3;
	stroke-linecap: round;
	fill: none;
}

.linegraph{
	width: 463px;
}

.worker{
    width: 25px;
    margin: 2px;
    float: left;
    border: 1px solid;
    border-radius: 2px;
    text-align:center;
	padding-top: 3px;
	-webkit-transition: all 0.5s linear;
}

.labor {
	color: #44C0DD;
	background: #B1F0FF;
	border-color: #62E1FF;
}
.commodity {
	color: #BDDD41;
	background: #EFFFAE;
	border-color: #DEFF5D;
}
.equipment {
	color: #DD8E41;
	background: #FFD6AE;
	border-color: #FFAD5D;
}
.consumer {
	color: #DD41C9;
	background: #FFAEF5;
	border-color: #E662D6;
}

.individual {
	color: #44C0DD;
	background: #B1F0FF;
	border-color: #62E1FF;
}
.industry {
	color: #DD8E41;
	background: #FFD6AE;
	border-color: #FFAD5D;
}
.market {
	color: #DD41C9;
	background: #FFAEF5;
	border-color: #E662D6;
}
.producer {
	color: #BDDD41;
	background: #EFFFAE;
	border-color: #DEFF5D;
}

.inProd{
	background: lime;
	color: lime;
	border-color: lime;
}

.inWant{
	/*background: rgb(255, 118, 118);*/
	background: #000;
	color: white;
}

.inWant i{
  background-image: url("../img/glyphicons-halflings-white.png");

}
