		<div class="economy container-fluid">
		<linegraph data="{{economy.viewrange}}"></linegraph>
		<hr/>
			<div class="row-fluid">
				<div class="span3">
					<div class="btn-group dropup">
						<p class="dropdown-toggle btn" data-toggle="dropdown">Industry <i class="icon-th"></i></p>
						<p class="dropdown-menu">
							<i class="icon-time"></i> + <i class="icon-wrench"></i> <br/>&rArr;<br/> 2<i class="icon-tint"></i> Out
						</p>
					</div>
				</div>
				<div class="span3">
					<div class="btn-group dropup">
						<p class="dropdown-toggle btn" data-toggle="dropdown">Business <i class="icon-briefcase"></i></p>
						<p class="dropdown-menu">
							<i class="icon-time"></i> + <i class="icon-tint"></i> <br/>&rArr;<br/> <i class="icon-wrench"></i> & <i class="icon-shopping-cart"></i> Out
						</p>
					</div>
				</div>
				<div class="span3">
					<div class="btn-group dropup">
						<p class="dropdown-toggle btn" data-toggle="dropdown">Commercial <i class="icon-tag"></i></p>
						<p class="dropdown-menu" data-toggle="dropdown">
							<i class="icon-time"></i> + <i class="icon-tint"></i> <br/>&rArr;<br/> 2<i class="icon-shopping-cart"></i> Out
						</p>
					</div>
				</div>
				<div class="span3">
					<div class="btn-group dropup">	
						<p class="dropdown-toggle btn" data-toggle="dropdown">Housing <i class="icon-home"></i></p>
						<p class="dropdown-menu" data-toggle="dropdown">
							<i class="icon-shopping-cart"></i> <br/>&rArr;<br/> <i class="icon-time"></i> Out
						</p>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3">				
					<span ng-bind="economy.producers.length"></span>
				</div>
				<div class="span3">
					<span ng-bind="economy.industries.length"></span>					
				</div>
				<div class="span3">
					<span ng-bind="economy.markets.length"></span>
				</div>
				<div class="span3">		
					<span ng-bind="economy.individuals.length"></span>
				</div>
			</div>
			<div class="row-fluid bars">
				<div class="span3 bars well">
					<localprod data-type="producer" class="onTick pie producer" ng-class="[prodClass,wantClass].join(' ')" ng-repeat="item in economy.producers.slice(0,5)"></localprod>
				</div>
				<div class="span3 bars well">				
					<localprod data-type="industry" class="onTick pie industry" ng-class="[prodClass,wantClass].join(' ')" ng-repeat="item in economy.industries.slice(0,5)"></localprod>
				</div>
				<div class="span3 bars well">				
					<localprod data-type="market" class="onTick pie market" ng-class="[prodClass,wantClass].join(' ')" ng-repeat="item in economy.markets.slice(0,5)"></localprod>
				</div>
				<div class="span3 bars well">
					<localprod data-type="individual" class="onTick pie individual" ng-class="[prodClass,wantClass].join(' ')" ng-repeat="item in economy.individuals.slice(0,5)"></localprod>
				</div>
			</div>			
			<hr/>
			<div class="row-fluid">
				<div class="span3">				
					<good data-type="commodity" ng-repeat="item in economy.supply.commodity"></good>
				</div>
				<div class="span3">
					<good data-type="equipment" ng-repeat="item in economy.supply.equipment"></good>
				</div>
				<div class="span3">
					<good data-type="consumer" ng-repeat="item in economy.supply.consumer"></good>
				</div>
				<div class="span3">		
					<good data-type="labor" ng-repeat="item in economy.supply.labor"></good>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3">				
					<span ng-repeat="item in economy.needs.commodity" ng-bind="economy.needs.commodity[$index]"></span>
					
				</div>
				<div class="span3">
					<span ng-repeat="item in economy.needs.equipment" ng-bind="economy.needs.equipment[$index]"></span>					
				</div>
				<div class="span3">
					<span ng-repeat="item in economy.needs.consumer" ng-bind="economy.needs.consumer[$index]"></span>
				</div>
				<div class="span3">		
					<span ng-repeat="item in economy.needs.labor" ng-bind="economy.needs.labor[$index]"></span>
				</div>
			</div>
		</div>		